imageio-ffmpeg
matplotlib
numpy 
opencv-python
pandas
Pillow
PyYAML
scikit-image
scikit-learn
scikit-video
scipy
six
torch
torchvision
tqdm
wandb
av
compressai
psnr-hvsm==0.2.1
dists-pytorch
piq
lpips
facenet-pytorch==2.5.3
chardet==2.1.1
urllib==2.0.6